<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="Sales_Management_Program.Properties.Settings.Sales_Management_SystemConnectionString" connectionString="Data Source=DESKTOP-OA5Q44B\SQLEXPRESS;Initial Catalog=Sales_Management_System;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="DB_Sales_Management_SystemEntities" connectionString="metadata=res://*/Sales_Management_System.csdl|res://*/Sales_Management_System.ssdl|res://*/Sales_Management_System.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=DB_Sales_Management_System;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Sales_Management_SystemEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OA5Q44B\SQLEXPRESS;initial catalog=Sales_Management_System;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Sales_Management_SystemEntities1" connectionString="metadata=res://*/Sales_Management_SystemM.csdl|res://*/Sales_Management_SystemM.ssdl|res://*/Sales_Management_SystemM.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-OA5Q44B\SQLEXPRESS;initial catalog=Sales_Management_System;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>